<!DOCTYPE HTML>
<!--
    Hyperspace by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>Lucid</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <!-- <link rel="stylesheet" href="static/styles/css/main.css" /> -->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    </head>
    <body>


            <div id="wrapper">

                <!-- One -->

                            <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                            <div class="content">
                                <div class="inner">
                                     <form action="/submit" method="post">
                                        <p> Name: <input type="text" name = "Name"> <input type="submit" value="Add Friend"> </p>
                                    </form>
                                    <form action="/msg" method="post">
                                        <p> Friend: <input type="text" name = "friend"> Message: <input type="text" name = "message"> <input type="submit" value="Submit Message"> </p>
                                    </form>
                                     <form action="/disp" method="post">
                                        <p> Show Posts: <input type="text" name = "dis"> <input type="submit" value="Display Messages"> </p>
                                    </form>
                                    <!-- <h>{{str1}}</h> -->

                                </div>
                            </div>
                            {% for result in param %}
                                <tr>
                                    <ul>{{ result }}</ul>
                                </tr>
                            {% endfor %}

            </div>


 
    </body>
</html>